{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
    <h2 class="col-auto me-auto">Record Exports</h2>
    <div class="col-auto">
        <a href="/" class="button-class"><button type="button" class="btn btn-dark">Back</button></a>
    </div>
</div>
</div>
<br/><br/>
<h3>Foray Export</h3>
<div class="container">
<div class="row">
    <div class="col-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{reportForm|crispy}}
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
    </div>
    <div class="col"></div>
</div>
</div>
<br/><br/>
<div class="container">
<div class="row border-bottom border-dark">
    <div class="col-1"><b>Date</b></div>
    <div class="col-2"><b>Site</b></div>
    <div class="col-2"><b>Web Export</b></div>
    <div class="col-2"><b>FRDBI Export</b></div>
    <div class="col-2"><b>Excel Site Owners Export</b></div>
</div>
{% for foray in forays %}
    <div class="row border-bottom border-dark">
        <div class="col-1">{{foray.date|date:"d/m/Y"}}</div>
        <div class="col-2">{{foray.site}}</div>
        <div class="col-2 mt-1 mb-1">
            <a href="/export/report?date={{foray.dateValue}}&site={{foray.site}}" class="button-class"><button type="button" class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-2 mt-1 mb-1">
            <a href="/export/FRDBI?dateFrom={{foray.dateValue}}&dateTo={{foray.dateValue}}&site={{foray.site}}" class="button-class"><button type="button" class="btn btn-primary">Open Export Page</button></a>
        </div>
        <div class="col-2 mt-1 mb-1">
            <a href="/export/FRDBI/excel?dateFrom={{foray.dateValue}}&dateTo={{foray.dateValue}}&site={{foray.site}}&exported=b&style=2" class="button-class"><button type="button" class="btn btn-primary">Download</button></a>
        </div>
    </div>
{% endfor %}
</div>
<br/><br/><br/><br/>
<h3>FRDBI Export</h3>
<div class="container">
<div class="row">
    <div class="col-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{FRDBIForm|crispy}}
            <input type="submit" value="Open Export Page" class="btn btn-primary">
        </form>
    </div>
    <div class="col"></div>
</div>
</div>
<br/><br/>
<h3>Database Backup</h3>
<div class="container">
    <a href="{% url 'ExportBackup' %}" class="button-class">
        <button type="button" class="btn btn-primary">Download Full Database Backup</button>
    </a>
</div>
{% if isAdmin %}
<br/>
<div class="container">
    <form method="POST" enctype="multipart/form-data" action="{% url 'ImportBackup' %}">
        {% csrf_token %}
        <label for="database-file">Upload Database Backup</label>
        <input id="database-file" type="file" name="database_file" accept="application/json,.json" required>
        <button type="submit" class="btn btn-primary">Upload Backup</button>
    </form>
</div>
{% endif %}
<br/><br/>

{% endblock content %}