{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
    <h2 class="col-auto me-auto">FRDBI Export</h2>
    <div class="col-auto">
        <a href="/export" class="button-class"><button type="button" class="btn btn-dark">Back</button></a>
    </div>
</div>
</div>
<p>FRDBI export for all records {% if single %}on the date: <b>{{date}}</b>{% else %}in the date range: <b>{{date}}</b>{% endif %}</p>
{% if site != None %}<p>and found in site: <b>{{site}}</b></p>{% endif %}
<br/>
<p>Of these records:</p>
<p><b>{{numGoing}}</b> haven't been exported yet</p>
<p><b>{{numGone}}</b> have already been exported</p>
<p>(These numbers will only update if the page is refreshed)</p>

<div class="container alert alert-info">PLEASE NOTE: exporting records that have not yet been exported will <b>permanently</b> mark them as exported</div>
<br/>
<a href="/export/FRDBI/excel?dateFrom={{dateFrom}}&dateTo={{dateTo}}&site={{site}}&exported=n" class="button-class"><button type="button" class="btn btn-primary">Export records that haven't been exported yet</button></a>
<br/><br/>
<a href="/export/FRDBI/excel?dateFrom={{dateFrom}}&dateTo={{dateTo}}&site={{site}}&exported=y" class="button-class"><button type="button" class="btn btn-primary">Export records that have already been exported</button></a>
<br/><br/>
<a href="/export/FRDBI/excel?dateFrom={{dateFrom}}&dateTo={{dateTo}}&site={{site}}&exported=b" class="button-class"><button type="button" class="btn btn-primary">Export all records</button></a>
<br/><br/>
<p>This will provide a .csv file that can be opened in Microsoft Excel</p>

{% endblock content %}