{% extends "base.html" %}



{% block content %}
<div class="mx-auto text-center">
    {% if isManager %}
        <h4>Welcome to the BFG Database</h4>
    {% else %}
        <h4>Welcome to the restricted member view of the BFG Database</h4>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
        {% for page in pages %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{page.title}}</h5>
                        <p class="card-text">{{page.desc}}</p>
                    </div>
                    <a href="{{page.link}}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="mx-auto">
<br/><br/>
<p>
    Last updated: 10/10/2026 at 22:00<br/>
    Changes made:<br/>
    - Various text and position changes<br/>
    - Changed record browser page options to the: (A-M) 1 format<br/>
    - Changed the layout at the top of record entry<br/>
    - Made it so the default collector and identifier in data entry only applied once the record is saved<br/>
    - Added alphabetic page options if A-Z order is on<br/>
    - Added a prompt that appears if you try to leave the data entry page with unsaved changes<br/>
    <b>NOTE:</b>This prompt might also appear if you try to change the page or any options at the top of the page that would also delete any of your changes<br/>
</p>
</div>
{% endblock content %}