{% extends "base.html" %}



{% block content %}
<div class="mx-auto text-center">
    {% if isManager %}
        <h4>Welcome to the BFG Database</h4>
    {% else %}
        <h4>Welcome to the restricted member view of the BFG Database</h4>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
        {% for page in pages %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{page.title}}</h5>
                        <p class="card-text">{{page.desc}}</p>
                    </div>
                    <a href="{{page.link}}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}