{% extends "base.html" %}



{% block content %}
<div class="mx-auto text-center">
    {% if isManager %}
        <h4>Welcome to the BFG Database</h4>
    {% else %}
        <h4>Welcome to the restricted member view of the BFG Database</h4>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
        {% for page in pages %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{page.title}}</h5>
                        <p class="card-text">{{page.desc}}</p>
                    </div>
                    <a href="{{page.link}}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="mx-auto">
<br/><br/>
<p>
    Last updated: 08/10/2026 at 22:00<br/>
    Changes made:<br/>
    - Allowed for Genus specific search in the record browser<br/>
    - Altered the order of the records in the record browser to be by fungus name then date<br/>
    - Added letters in the browser page options to indicate where each letter starts<br/>
    - The TOP button in the record browser now scrolls to the top of the table instead of the top of the page<br/>
    - Added a clear button that clears the filter in record browser<br/>
</p>
</div>
{% endblock content %}