{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
    <h2 class="col-auto me-auto">Editing member: {{member.fullName}}</h2>
    {% if deleteOption %}
        <div class="col-auto">
            <h5>Permanently delete member?</h5>
        </div>
        <div class="col-auto">
            <form action="/member/{{member.id}}/delete/?{{param}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes</button>
            </form>
        </div>
        <div class="col-auto">
            <a href="/member/{{member.id}}?deleteOption=False&{{param}}" class="button-class"><button type="button" class="btn btn-primary">No</button></a>
        </div>
    {% else %}
        <div class="col-auto">
            <a href="/member/{{member.id}}?deleteOption=True&{{param}}" class="button-class"><button type="button" class="btn btn-danger">Delete member</button></a>
        </div>
    {% endif %}
    <div class="col-auto">
        <a href="/member?{{param}}" class="button-class"><button type="button" class="btn btn-dark">Back</button></a>
    </div>
</div>
</div>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

{% endblock content %}