{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
    <h2 class="col-auto me-auto">Browse the records</h2>
    <div class="col-auto">
        <a href="/" class="button-class"><button type="button" class="btn btn-dark">Back</button></a>
    </div>
</div>
</div>
<h4>Filter</h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
</form>
<datalist id="fungusList"></datalist>
<br/><br/>
<div class="container">
<div class="row border-bottom border-dark">
    <div class="col-2"><b>Name as recorded</b></div>
    <div class="col-2"><b>Site</b></div>
    <div class="col-1"><b>Date</b></div>
    <div class="col-2"><b>Substrate</b></div>
    <div class="col-2"><b>Associations</b></div>
    <div class="col-nar"><b>Rec.</b></div>
    <div class="col-nar"><b>Coll.</b></div>
    <div class="col-nar"><b>ID.</b></div>
    <div class="col-nar"><b>Conf.</b></div>
</div>
{% for record in records %}
    {% if record.id == expand %}
    {% if record.DNATest == "Pending" %}
    <div class="row border-bottom border-light text-danger">
    {% else %}
    <div class="row border-bottom border-light">
    {% endif %}
        <div class="col-2">
            <div>{{ record.fungusFK.currentFungus.fullName }}</div>
            {% if record.fungusFK.currentFungus.englishName %}
                <div class="text-muted">({{ record.fungusFK.currentFungus.englishName }})</div>
            {% endif %}
        </div>
        <div class="col-2">{{record.siteFK.name}}</div>
        <div class="col-1">{{ record.dateFound|date:"d/m/Y" }}</div>
        <div class="col-2">{{record.substrate}}</div>
        <div class="col-2">
            <div class="container">
                <div class="row">{{record.assoc1}}</div>
                <div class="row">{{record.assoc2}}</div>
                <div class="row">{{record.assoc3}}</div>
            </div>
        </div>
        <div class="col-nar" title="{{record.recorderFK.fullName}}">{{record.recorderFK.initials}}</div>
        <div class="col-nar" title="{{record.collectorFK.fullName}}">{{record.collectorFK.initials}}</div>
        <div class="col-nar" title="{{record.identifierFK.fullName}}">{{record.identifierFK.initials}}</div>
        <div class="col-nar" title="{{record.confirmerFK.fullName}}">{{record.confirmerFK.initials}}</div>
        <div class="col-1 mt-1">
            <a href="/record/browse?page={{page.current}}&{{param}}" class="button-class"><button type="button" class="btn btn-primary">less</button></a>
        </div>
    </div>
    <div class="row border-bottom border-dark">
        <div class="col-3">
            {% if record.image %}
                <a href="{{ record.image.url }}">
                    <img src="{{ record.image.url }}" alt="{{ record.image.name }}" height="150">
                </a>
            {% else %}
                <img src="/media/no_image.png" alt="No image available" height="150">
            {% endif %}
        </div>
        <div class="col-2">
            <div class="row">Unique Code:</div>
            <div class="row">{{record.uniqueCode}}</div>
            <div class="row">&nbsp;</div>
            <div class="row" title="{{record.photographerFK.fullName}}">Photographer: {{record.photographerFK.initials}}</div>
            <br/>
            {% if record.firstRecord == "S" %}
            <div class="row text-danger"><b>First Site Record!</b></div>
            {% elif record.firstRecord == "B" %}
            <div class="row text-danger"><b>First Bucks Record!</b></div>
            {% elif record.firstRecord == "D" %}
            <div class="row text-danger"><b>First Database Record!</b></div>
            {% endif %}
        </div>
        <div class="col-1_5">
            <div class="row">Lit Ref: {{record.litRef}}</div>
            {% if record.DNATest == "Pending" %}
            <div class="row text-danger">DNA Test: {{record.DNATest}}</div>
            {% elif record.DNATest == "None" %}
            <div class="row">DNA Test: ...</div>
            {% else %}
            <div class="row">DNA Test: {{record.DNATest}}</div>
            {% endif %}
            <div class="row">Certainty: {{record.certainty}}</div>
        </div>
        <div class="col-1">Remarks:</div>
        <div class="col-3_5">{{record.remarks}}</div>
        <div class="col-1 mt-1">
            {% if isManager %}
            <a href="/record/browse/{{record.id}}?page={{page.current}}&{{param}}&expand={{record.id}}" class="button-class"><button type="button" class="btn btn-primary">edit</button></a>
            {% endif %}
        </div>
        
    </div>
    {% else %}
    {% if record.DNATest == "Pending" %}
    <div class="row border-bottom border-dark text-danger">
    {% else %}
    <div class="row border-bottom border-dark">
    {% endif %}
        <div class="col-2">
            <div>{{ record.fungusFK.currentFungus.fullName }}</div>
            {% if record.fungusFK.currentFungus.englishName %}
                <div class="text-muted">({{ record.fungusFK.currentFungus.englishName }})</div>
            {% endif %}
        </div>
        <div class="col-2">{{record.siteFK.name}}</div>
        <div class="col-1">{{ record.dateFound|date:"d/m/Y" }}</div>
        <div class="col-2">{{record.substrate}}</div>
        <div class="col-2">
            <div class="container">
                <div class="row">{{record.assoc1}}</div>
                <div class="row">{{record.assoc2}}</div>
                <div class="row">{{record.assoc3}}</div>
            </div>
        </div>
        <div class="col-nar" title="{{record.recorderFK.fullName}}">{{record.recorderFK.initials}}</div>
        <div class="col-nar" title="{{record.collectorFK.fullName}}">{{record.collectorFK.initials}}</div>
        <div class="col-nar" title="{{record.identifierFK.fullName}}">{{record.identifierFK.initials}}</div>
        <div class="col-nar" title="{{record.confirmerFK.fullName}}">{{record.confirmerFK.initials}}</div>
        <div class="col-1 mt-1">
            <a href="/record/browse?page={{page.current}}&{{param}}&expand={{record.id}}" class="button-class"><button type="button" class="btn btn-primary">more</button></a>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<br/><br/>
<p>Total species count: <b>{{species}}</b></p>
<br/>
<nav aria-label="...">
    <ul class="pagination">
    {% if page.first %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" href="/record/browse?page=1&{{param}}">First</a>
        </li>
    {% endif %}
    {% for x in page.list %}
        {% if x == page.current %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="/record/browse?page={{x}}&{{param}}">{{x}}</a>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link" href="/record/browse?page={{x}}&{{param}}">{{x}}</a></li>
        {% endif %}
    {% endfor %}
    {% if page.last %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" href="/record/browse?page={{page.pageCount}}&{{param}}">Last</a>
        </li>
    {% endif %}
    </ul>
</nav>

{% include "scripts/fungiSuggestions.html" %}

{% endblock content %}